* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.landingpage {
  height: 95vh;
  background-image: url(https://bit.ly/38HRNsK);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.navbar {
  font-size: 25px !important;
  background-color: peru !important;
  z-index: 100;
}
.navbar-brand {
  font-size: 30px;
  color: black;
}

.landingtext {
  left: 0;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.landingtext > h1 {
  font-size: 5vw;
  font-weight: bold;
}

.myForm {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.select {
  margin-top: 1rem;
}

.submit {
  background-color: peru;
  border: none;
  margin: 20px;
  width: 100%;
}

.pizza-row {
  display: flex;
  flex-direction: row-reverse;
}
